@charset "utf-8";
/* 全体 */
main {
    color: #111111;
}
p,h1,h2,h3,ul,li,dt,dl,a {
    font-family: "Sawarabi Gothic";
}
.inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 300px;
}
.details {
    display: flex;
    justify-content: space-between;
}
a {
    color: #f1f8ff;
}
li {
    margin: 30px 0;
    font-size: 20px;
}
p {
    line-height: 1.7;
}
dt {
    font-size: 20px;
    padding: 20px 0;
}
dt:first-child {
    padding-top: 0;
}
dd {
    padding: 5px 0;
}
img {
    width: 400px;
}
.image {
    text-align: center;
    margin: auto 0;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.block {
    padding: 0 100px;
}
.half {
    width: 50%;
}
.ef {
    transform: translateY(100px);
    transition: all 0.5s;
}
/* タイトル */
h2 {
    padding: 200px 0 100px 0;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
h3 {
    font-size: 25px;
    line-height: 1.7;
    padding-bottom: 50px;
    text-align: center;
}
/* ヘッダー */
header  {
    width: 100%;
    background-color: #111111;
    position: fixed;
    z-index: 500;
}
.contents-list {
    margin: auto 100px;
}
.contents-list ul {
    display: flex;
    justify-content: center;
    padding: 0 50px;
}
/* ホバーアクション */
.contents-list li {
    margin: 30px;
    position: relative;
    text-decoration: none;
}
.contents-list li::after {
    position: absolute;
    bottom: 2px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #f1f8ff;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.contents-list li:hover::after {
    bottom: -4px;
    opacity: 1;
    visibility: visible;
}

/* トップラッパー */
.top-wrapper {
    background-color: #111111;
}
.top-wrapper h1 {
    font-size: 70px;
    padding:250px 100px 100px 100px;
    font-weight: bold;
    font-family: "Sawarabi Gothic";
    color: #f1f8ff;
    text-align: center;
}
.name {
    padding: 50px;
    width: 50%;
    font-size: 50px;
    color: #f1f8ff;
    border: #f1f8ff solid 1px;
    text-align: center;
    margin: 0 auto;
}
.name span {
    opacity: 0;
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
}
/* 謝辞 */
.thanks {
    padding: 100px 0 200px 0;
    background-color: #111111;
}
.thanks p {
    line-height: 2;
    display: none;
    color: #f1f8ff;
}
/* 自己紹介 */
.self-introduction {
    width: 100%;
}
.self-introduction-list dt{
    color: #1f6f8b;
    border-left: solid 6px #1f6f8b;/*左側の線*/
    background: #f1f8ff;/*背景色*/
    margin-bottom: 3px;/*下のバーとの余白*/
    line-height: 1.5;
    padding: 0.5em;
}
/* 習熟度 */
.proficiency-section {
    background-color: #1f6f8b;
    color: #e6d5b8;
}
.skill-list {
    line-height: 1.7;
    display: flex;
}
.details-wrap {
    display: flex;
    justify-content: space-between;
}
.proficiency-field p {
    text-align: center;
}
.proficiency-text {
    padding: 50px 0;
}
.skill {
    display: flex;
    justify-content: center;
}
.skill li {
    margin: 0px;
    display: flex;
}
.slill-title {
    width: 150px;
}
.score-image {
    /* width: 30px;
    height: 30px; */
    transform: translateY(100px);
    transition: all 0.5s;
}
/* 作品紹介 */
.works-wrap {
    display: flex;
    justify-content: space-between;
}
.work-overview {
    padding: 50px 0;
}
.work-overview p {
    text-align: center;
}
.URL {
    text-align: center;
}
/* 将来の方向性 */
.prospects-section {
    background-color: #1c2b2d;
    color: #e6d5b8;
}
/* アコーディオン */
.column {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}
.accordion-box {
    align-items: center;
    width: 30%;
}
.accordion{
    border: 1px solid #e6d5b8;
    width: 100%;
    position: relative;
    cursor: pointer;
    padding: 5px 0;
}
.accordion::after{
    content: '';
    width: 8px;
    height: 8px;
    border: 0px;
    border-top: solid 1px #e6d5b8;
    border-right: solid 1px #e6d5b8;
    -webkit-transform: rotate(135deg);
    margin-left: -6px;
    transform: rotate(135deg);
    position: absolute;
    top: 50%;
    right: 4%;
    margin-top: -5px; }
    .accordion-inner {
    display: flex;
    justify-content: space-between;
}
.accordion-content {
    display: none;
    width: 100%;
    text-align: left;
    background-color: #1c2b2d;
    border: #e6d5b8 solid 1px;
}
.accordion-content p {
    padding: 20px;
}
.heading{
    padding: 0 5%;
    margin-bottom: 10px;
}
.next-accordion-box {
    width: 100%;
}
/* 趣味 */
.interests-contents {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.interests-contents p {
    margin: auto 0;
    width: 50%;
}
.interests-image {
    width: 50%;
}
/* フッター */
footer {
    height: 50px;
    background-color:  #1c2b2d;
}
footer h1 {
    color: #e6d5b8;
}
/* ハンバーガーメニュー */
.scrol-menu {
    padding-left: 100px;
}
    #nav-drawer {
        right: 10px;
        position: fixed;
        z-index: 9999;
        top: 0em;
        padding-top: 18px;
    }

    /*チェックボックス等は非表示に*/
    .nav-unshown {
        display: none;
    }

    /*アイコンのスペース*/
    #nav-open {
        display: inline-block;
        width: 30px;
        height: 22px;
        vertical-align: middle;
    }

    /*ハンバーガーアイコンをCSSだけで表現*/
    #nav-open span,
    #nav-open span:before,
    #nav-open span:after {
        position: absolute;
        height: 3px;
        /*線の太さ*/
        width: 25px;
        /*長さ*/
        border-radius: 3px;
        background: #262626;
        display: block;
        content: '';
        cursor: pointer;
        z-index: 150;
    }

    #nav-open span:before {
        bottom: -8px;
    }

    #nav-open span:after {
        bottom: -16px;
    }

    /*閉じる用の薄黒カバー*/
    #nav-close {
        display: none;
        /*はじめは隠しておく*/
        position: fixed;
        z-index: 50;
        top: 0;
        /*全体に広がるように*/
        left: 0;
        width: 25%;
        height: 30%;
        background: black;
        opacity: 0;
        transition: .3s ease-in-out;
    }

    /*中身*/
    #nav-content {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        /*最前面に*/
        width: 25%;
        height: 30%;
        background: #ffffff;;
        /*背景色*/
        transition: .3s ease-in-out;
        /*滑らかに表示*/
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);
        /*左に隠しておく*/
    }

    /*チェックが入ったらもろもろ表示*/
    #nav-input:checked~#nav-close {
        display: block;
        /*カバーを表示*/
        opacity: .5;
    }

    #nav-input:checked~#nav-content {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        /*中身を表示（右へスライド）*/
        box-shadow: 6px 0 25px rgba(0, 0, 0, .15);
    }

@media (max-width: 834px){
    p {
        font-size: 16px;
    }
    h2 {
        padding: 100px 0 50px 0;
        font-size: 30px;
    }
    header h1 {
        padding: 0;
        font-size: 50px;
    }
    img {
        width: 100%;
    }
    .inner {
        padding-bottom: 100px;
    }
    .block {
        padding: 0 30px;
    }
    .half {
        width: 100%;
    }
    .thanks {
        padding: 50px 0 100px 0;
    }
    .thanks p {
        padding: 0 30px;
    }
    .contents-list {
        margin: 0;
    }
    .contents-list ul {
        padding: 0;
    }
    .contents-list li {
        font-size: 15px;
    }
    .top-wrapper {
        height: 200px;
    }
    .name {
        font-size: 30px;
    }
    .self-introduction-list dl {
        padding-top: 50px;
    }
    .details {
        padding: 0 30px;
    }
    .sp-block {
        display: block;
    }
    .interests-contents p {
        width: 100%;
        padding-top: 50px;
    }
    .accordion-inner {
        display: block;
    }
    .accordion-box {
        width: 100%;
    }
}