@charset "utf-8";
/* 全体 */
main {
    color: #111111;
}
p,h1,h2,h3,ul,li,dt,dl,a {
    font-family: "Sawarabi Gothic";
}
.inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 300px;
}
.details {
    display: flex;
    justify-content: space-between;
}
.contents-list a {
    color: #f1f8ff;
}
li {
    margin: 30px 0;
    font-size: 20px;
}
p {
    line-height: 1.7;
}
dt {
    font-size: 20px;
    padding: 20px 0;
}
dt:first-child {
    padding-top: 0;
}
dd {
    padding: 5px 0;
}
img {
    width: 400px;
}
.image {
    text-align: center;
    margin: auto 0;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.block {
    padding: 0 100px;
}
.half {
    width: 50%;
}
.ef {
    transform: translateY(100px);
    transition: all 0.5s;
}
.title-logo {
    padding-left: 15px;
}
.sp-menu {
    display: none;
}
/* タイトル */
h2 {
    padding: 200px 0 100px 0;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
h3 {
    font-size: 25px;
    line-height: 1.7;
    padding-bottom: 50px;
    text-align: center;
}
/* ヘッダー */
header  {
    width: 100%;
    background-color: #111111;
    position: fixed;
    z-index: 1;
}
.contents-list {
    margin: auto 100px;
}
.contents-list ul {
    display: flex;
    justify-content: center;
    padding: 0 50px;
}
.top-contents {
    display: none;
}
/* ホバーアクション */
.contents-list li {
    margin: 30px;
    position: relative;
    text-decoration: none;
}
.contents-list li::after {
    position: absolute;
    bottom: 2px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #f1f8ff;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.contents-list li:hover::after {
    bottom: -4px;
    opacity: 1;
    visibility: visible;
}

/* トップラッパー */
.top-wrapper {
    background-color: #111111;
}
.top-wrapper h1 {
    font-size: 70px;
    padding:250px 100px 100px 100px;
    font-weight: bold;
    font-family: "Sawarabi Gothic";
    color: #f1f8ff;
    text-align: center;
}
.name {
    padding: 50px;
    width: 50%;
    font-size: 50px;
    color: #f1f8ff;
    border: #f1f8ff solid 1px;
    text-align: center;
    margin: 0 auto;
}
.name span {
    opacity: 0;
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
}
/* 謝辞 */
.thanks {
    padding: 150px 0 200px 0;
    background-color: #111111;
}
.thanks p {
    line-height: 2;
    display: none;
    color: #f1f8ff;
}
/* 自己紹介 */
.self-introduction {
    width: 100%;
}
.self-introduction-item {
    padding-top: 20px;
}
.self-introduction-list dt{
    color: #1f6f8b;
    border-left: solid 6px #1f6f8b;/*左側の線*/
    background: #f1f8ff;/*背景色*/
    margin-bottom: 3px;/*下のバーとの余白*/
    line-height: 1.5;
    padding: 0.5em;
}
.self-introduction-list dd {
    padding: 10px 0;
}
/* 習熟度 */
.proficiency-section {
    background-color: #1f6f8b;
    color: #e6d5b8;
}
.skill-list {
    line-height: 1.7;
    display: flex;
}
.details-wrap {
    display: flex;
    justify-content: space-between;
}
.proficiency-field p {
    text-align: center;
}
.proficiency-text {
    padding: 50px 0;
    height: 150px;
}
.skill {
    display: flex;
    justify-content: center;
}
.skill li {
    display: flex;
}
.skill li:last-child {
    margin-bottom: 0px;
}
.slill-title {
    width: 150px;
}
.skill-item img {
    width: 35px;
    padding-right: 15px;
}
.score-image {
    /* width: 30px;
    height: 30px; */
    transform: translateY(100px);
    transition: all 0.5s;
}
.fa-star {
    color: #ffd900;
}
.far {
    color: #e6d5b8;
}
/* 作品紹介 */
.works-wrap {
    display: flex;
    justify-content: space-between;
}
.work-overview {
    padding: 50px 0;
}
.work-overview p {
    max-width: 400px;
    margin: 0 auto;
}
.work :hover {
    transition: all 0.2s;
    transform: scale(1.1, 1.1);
}
.URL {
    text-align: center;
}
/* 将来の方向性 */
.prospects-section {
    background-color: #1c2b2d;
    color: #e6d5b8;
}
/* アコーディオン */
.column {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}
.accordion-box {
    align-items: center;
    width: 30%;
}
.accordion{
    border: 1px solid #1c2b2d;
    width: 100%;
    background-color: #e6d5b8;
    color: #1c2b2d;
    position: relative;
    cursor: pointer;
    padding: 5px 0;
}
.accordion::after{
    content: '';
    width: 8px;
    height: 8px;
    border: 0px;
    border-top: solid 1px #1c2b2d;
    border-right: solid 1px #1c2b2d;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: -6px;
    transform: rotate(135deg);
    position: absolute;
    top: 50%;
    right: 4%;
    margin-top: -5px; }
    .accordion-inner {
    display: flex;
    justify-content: space-between;
}
/* .opened {
    content: '';
    width: 8px;
    height: 8px;
    border: 0px;
    border-top: solid 1px #e6d5b8;
    border-right: solid 1px #e6d5b8;
    -ms-transform: rotate(200deg);
    -webkit-transform: rotate(200deg);
    margin-left: -6px;
    transform: rotate(200deg);
    position: absolute;
    top: 50%;
    right: 4%;
    margin-top: -5px; }
    .accordion-inner {
    display: flex;
    justify-content: space-between;
} */
.accordion-content {
    display: none;
    width: 100%;
    text-align: left;
    background-color:  #e6d5b8;
    border: #1c2b2d solid 1px;
    color: #1c2b2d;
}
.accordion-content p {
    padding: 20px;
}
.heading{
    padding: 0 5%;
    margin-bottom: 10px;
}
.next-accordion-box {
    width: 100%;
}
/* 趣味 */
.interests-section {
    position: relative;
}
.interests-contents {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.interests-contents p {
    margin: auto 0;
    width: 50%;
}
.interests-image {
    width: 50%;
}
.background-logo {
    opacity: 0.7;
    font-size: 120px;
    font-weight: bold;
    position: absolute;
    color: #F4F4F4;
    z-index: -1;
    bottom: 100px;
    right: 50px;
}
.yosakoi-icon {
    color: #111111;
}
.interests p {
    text-align: center;
}
.interests h3 {
    padding-top: 50px;
}
/* タブ切り替え */
.tab-area {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    max-width: 800px;
    margin: 0 auto;
    border-bottom: solid 1px #111111;
    padding-bottom: 10px;
}
.tab {
    width: 100%;
    text-align: center;
    color: #cccccc;
    font-size: 35px;
}
.tab p {
    font-size: 15px;
    padding: 0;
}
.tab.active {
    color: #111111;
}
.content-area {
    font-size: 30px;
    text-align: center;
}
.content-area p {
    font-size: 15px;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.content {
    display: none;
    max-width: 700px;
    margin: 0 auto;
}
.content img {
    width: 50%;
}
.content.show {
    display: block;
}
.content h4 {
    padding: 30px 0;
}
/* フッター */
footer {
    height: 50px;
    background-color:  #1c2b2d;
}
footer h1 {
    color: #e6d5b8;
}

@media (max-width: 834px){
    /* 全体 */
    .pc-menu {
        display: none;
    }
    p {
        font-size: 16px;
    }
    h2 {
        padding: 100px 0 50px 0;
        font-size: 30px;
    }
    img {
        width: 100%;
    }
    .inner {
        padding-bottom: 100px;
    }
    .block {
        padding: 0 30px;
    }
    .half {
        width: 100%;
    }
    /* ヘッダー */
    header {
        display: none;
    }
    /* 見出し */
    .top-wrapper h1 {
        padding: 30px;
        font-size: 50px;
    }
    .name {
        font-size: 30px;
    }
    /* 謝辞 */
    .thanks {
        padding: 50px 0 100px 0;
    }
    .thanks p {
        padding: 0 30px;
    }
    .self-introduction-list dl {
        padding-top: 50px;
    }
    .details {
        padding: 0 30px;
    }
    .sp-block {
        display: block;
    }
    .interests-contents p {
        width: 100%;
        padding-top: 50px;
    }
    .accordion-inner {
        display: block;
    }
    .accordion-box {
        width: 100%;
    }
    /* ロゴ */
    .background-logo {
        font-size: 50px;
        bottom: 50px;
    }
    .top-contents {
        display: inline-flex;
        position: fixed;
        left: 0;
        bottom: 0;
        background: white;
        width: 100%;
        z-index: 1;
    }
    .top-contents li {
        display: table;
        table-layout: fixed;
        width: 100%;
        padding: 5px;
        list-style: none;
        text-align: center;
        margin: 0;
    }
    .top-contents a span {
        display: block;
        font-size: 4px;
        color: #111111;
    }
    .top-contents-icon {
        color: #111111;
        padding-bottom: 3px;
    }
    .sp-menu {
        display: block;
        max-width: 300px;
        margin: 0 auto;
        padding: 30px 0;
      }
      /* .sp-menu p._a {
        font-size: 12px;
        font-weight: bold;
        margin: 30px 0 0;
      } */
      /* .sp-menu p._a .link {
        display: inline-block;
        color: #607D8B;
        padding-left: 1.3em;
        text-indent: -1.3em;
      } */
      /* .sp-menu p._a .link:before {
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        border-top: 2px solid #607D8B;
        border-right: 2px solid #607D8B;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-right: 10px;
      } */
      
}