@charset "utf-8";
/* 全体 */
main {
    color: #1c2b2d;
}
.inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.details {
    display: flex;
    justify-content: space-between;
}
ul {
    padding-right: 50px;
}
li {
    margin: 30px 0;
    font-size: 20px;
}
p {
    line-height: 1.7;
    font-family: "Sawarabi Mincho";
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.block {
    padding: 0 100px 200px 100px;
    margin-top: 100px;
}
/* タイトル */
h2 {
    padding: 100px 0;
    font-size: 35px;
    font-family: "Sawarabi Mincho";
}
h3 {
    font-size: 25px;
    line-height: 1.7;
    margin: 50px 0;
    text-align: center;
    font-family: "Sawarabi Mincho";
}
/* ヘッダー */
header  {
    height: 150px;
    width: 100%;
    margin-top: 50px;
}
header h1 {
    font-size: 50px;
    font-family: "Sawarabi Mincho";
    padding: 50px 100px;
}
/* トップラッパー */
.top-contents{
    display: flex;
}
.top-wrapper {
    height: 500px;
    background-color: #d0e8f2;
    display: flex;
    width: 60%;
    margin: 0 0 0 auto;
}
.top-wrapper h1 {
    font-size: 50px;
    margin: auto;
    font-family: "Sawarabi Mincho";
}
.contents-list {
    margin: auto 100px;
}
.contents-list li {
    margin: 20px 0;
}
/* 謝辞 */
.thanks {
    height: 350px;
}
.thanks p {
    line-height: 2;
    display: none;
}
/* テキスト */
.skill-list {
    line-height: 1.7;
    display: flex;
}
.proficiency-text {
    float: left;
}
/* 自己紹介 */
.self-introduction {
    width: 100%;
}
/* 習熟度 */
.proficiency-section {
    background-color: #1f6f8b;
    color: #e6d5b8;
}
.details-wrap {
    display: flex;
    justify-content: space-between;
}
.proficiency-field {
    width: 50%;
}
.proficiency-field p {
    text-align: center;
}
.proficiency-field-contents {
    display: flex;
}
.skill {
    display: flex;
    margin: 0 auto;
}
.score {
    width: 30px;
    height: 30px;
    transform: translateY(100px);
    transition: all 0.5s;
}
/* 作品紹介 */
.works-wrap {
    display: flex;
    justify-content: space-between;
}
.work {
    width: 50%;
}
.work-overview {
    height: 150px;
}
.work-overview p {
    text-align: center;
}
.work-img {
    text-align: center;
}
.work img {
    width: 400px;
}
.URL {
    text-align: center;
}
/* 将来の方向性 */
.prospects-section {
    background-color: #1c2b2d;
    color: #e6d5b8;
}
/* アコーディオン */
.column {
    display: flex;
    flex-direction: column;
}
.accordion-box {
    align-items: center;
    width: 30%;
}
    /* .accordion-box + .accordion-box {
    margin-top: 20px; } */
    .accordion{
    border: 1px solid #e6d5b8;
    width: 100%;
    position: relative;
    cursor: pointer;
}
  .accordion::after{
    content: '';
    width: 8px;
    height: 8px;
    border: 0px;
    border-top: solid 1px #e6d5b8;
    border-right: solid 1px #e6d5b8;
    -webkit-transform: rotate(135deg);
    margin-left: -6px;
    transform: rotate(135deg);
    position: absolute;
    top: 50%;
    right: 4%;
    margin-top: -5px; }
  .accordion-inner {
    display: flex;
    justify-content: space-between;
}
  .accordion-content {
    display: none;
    padding: 8px 0 8px 3%;
    width: 100%;
    text-align: left;
    background-color: #1c2b2d;
    border: #e6d5b8 solid 1px;
    padding: 20px;
}
  .heading{
    padding: 0 5%;
    margin-bottom: 10px;
  }
  
/* 趣味 */
.interests-contents {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}
.interests-contents p {
    margin: auto 0;
    width: 50%;
}
.interests-image {
    width: 50%;
    text-align: center;
}
.interests-contents img {
    width: 400px;
}
/* フッター */
footer {
    height: 50px;
    background-color:  #1c2b2d;
}
footer h1 {
    color: #e6d5b8;
}